@import "tailwindcss";

body {
    margin: 0;       
    height: 100dvh;     
    overflow: hidden;  
}

#contact-section {
  max-width: 50%;        
  text-align: center;    
  padding-top: 10px;     
}

#contact-section a {
  margin-right: 10px;    
  display: inline-block; 
}

.terminal {
    background: oklch(27.8% 0.033 256.848);
    border-radius: 10px;
    width: 98vw;             
    height: 96dvh;          
    margin: 2.5dvh auto;      
    padding: 0;           /* padding kaldırıldı, header ile birleşecek */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    overflow-y: auto;       
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.terminal-header {
    background: #313131;
    display: flex;
    gap: 8px;
    padding: 10px;
    border-top-left-radius: 10px;   /* terminal köşeleri ile uyumlu */
    border-top-right-radius: 10px;
    width: 100%;
    box-sizing: border-box;          /* padding toplam genişliğe dahil */
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.circle:hover {
    transform: scale(1.2);
}

.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.cursor {
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


.fade-in {
    opacity: 0;
    transform: translateY(5px);
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#contributions-grid > div {
    display: flex;
    gap: 2px;
    justify-content: center;
    margin: 0;
    padding: 0;
    line-height: 0;
    align-items: center;
}

#contributions-grid div div {
    aspect-ratio: 1;
    border-radius: 2px;
    cursor: default;
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    display: block;
    flex-shrink: 0;
}

#contributions-grid div:hover {
    opacity: 0.8;
}
