@import "tailwindcss";

body {
    margin: 0;       
    height: 100dvh;     
    overflow: hidden;  
}

#about-section {
  max-width: 50%;       
  padding: 10px;        
  line-height: 1.6;     
  text-align:justify;   
}

#contact-section {
  max-width: 50%;        
  text-align: center;    
  padding-top: 10px;     
}

#contact-section a {
  margin-right: 10px;    
  display: inline-block; 
}


.terminal {
    background: #212121;
    border-radius: 10px;
    width: 98vw;             
    height: 96dvh;          
    margin: 2.5dvh auto;      
    padding: 0;           /* padding kaldırıldı, header ile birleşecek */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    overflow-y: auto;       
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.terminal-header {
    background: #313131;
    display: flex;
    gap: 8px;
    padding: 10px;
    border-top-left-radius: 10px;   /* terminal köşeleri ile uyumlu */
    border-top-right-radius: 10px;
    width: 100%;
    box-sizing: border-box;          /* padding toplam genişliğe dahil */
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.circle:hover {
    transform: scale(1.2);
}

.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.terminal-body {
    padding: 20px;
    flex: 1;
    overflow-y: auto;

    scrollbar-width: thin;           
    scrollbar-color: transparent transparent;
}

.terminal-body::-webkit-scrollbar {
    width: 8px; 
}

.terminal-body::-webkit-scrollbar-track {
    background: transparent;
}

.terminal-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.terminal-body::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.cursor {
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.terminal-body p,
.terminal-body a,
.terminal-body div {
      font-family: 'Courier New', Courier, monospace;
}

.fade-in {
    opacity: 0;
    transform: translateY(5px);
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}