---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Görkem Karyol">
	<main class="terminal">
		<Footer />
		<div class="terminal-body">
			<p id="command" class="mb-4">
				GörkemKaryol@gorkemkaryol.dev ~ $ <span id="typed"></span><span class="cursor">|</span>
			</p>
			<div id="content" class="hidden">
                
			    <Navbar />
			</div>
		</div>
	</main>

	<script>
		import { typeWriter } from '../components/Typewritter.ts';

		const typedEl = document.getElementById('typed');
		const contentEl = document.getElementById('content');

		if(typedEl && contentEl) {
			typeWriter(typedEl, "cd /Experience", 20, () => {
	    		contentEl.classList.remove("hidden");
    			contentEl.classList.add("fade-in");
			});
		}
	</script>
</Layout>
