---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Terminal from '../components/Terminal.astro';
---

<Layout title="Görkem Karyol">
	<Terminal>
		<div class="flex flex-col justify-start p-5 flex-1 overflow-y-scroll [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden">
			<p id="command" class="mb-4 text-xs sm:text-sm md:text-base lg:text-lg">
				GörkemKaryol@gorkemkaryol.dev ~ $ <span id="typed"></span><span class="cursor">|</span>
			</p>
			<div id="content" class="hidden fade-in">
                <Navbar />
                <div class="flex flex-col items-center justify-center min-h-screen -mt-80 pt-20 px-4 sm:px-8 md:px-16 text-center sm:text-left">
                    <p class="mt-55 text-amber-200 leading-relaxed max-w-lg sm:max-w-2xl md:max-w-3xl text-xs sm:text-sm md:text-base lg:text-lg">
                        Hi, I am a Computer Engineering student with a strong passion for back-end development and web projects. In addition to development, I actively contribute to tech communities, collaborating on projects that solve real-world problems and enhance my learning in software engineering and IoT systems. I love experimenting with new technologies, optimizing code, and continuously improving my skills to deliver high-quality solutions. 			
                    </p>
                    <div id="contact-section" class="max-w-2xl pt-2 leading-relaxed sm:max-w-2xl md:max-w-3xl text-xs sm:text-sm md:text-base lg:text-lg">
                        <p class="underline mb-2 text-white">Contact</p>
                        <div class="gap-4 mb-8 text-amber-200 ">
                            <a href="https://github.com/glory42" target="_blank" class="hover:text-white">Github</a>
                            <a href="https://linkedin.com/in/glory42" target="_blank" class="hover:text-white">Linkedin</a>
                            <a href="../resume.pdf" target="_blank" class="hover:text-white">CV</a>
                            <a href="mailto:gorkemkaryol03@gmail.com" target="_blank" class="hover:text-white">mail</a>
                        </div>
                    </div>
                </div>    
			</div>
		</div>
	</Terminal>

	<script>
		import { typeWriter } from '../scripts/effects/Typewriter.ts';

		const typedEl = document.getElementById('typed');
		const contentEl = document.getElementById('content');

		if(typedEl && contentEl) {
			typeWriter(typedEl, "me -h", 40, () => {
	    		contentEl.classList.remove("hidden");
    			contentEl.classList.add("fade-in");
			});
		}
	</script>
</Layout>
