---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Terminal from '../components/Terminal.astro';
import Card from '../components/Card.astro';
---

<Layout title="Görkem Karyol - Interests">
	<Terminal>
		<div class="flex flex-col justify-start p-5 flex-1">
			<p id="command" class="mb-4 text-xs sm:text-sm md:text-base lg:text-lg">
				GörkemKaryol@gorkemkaryol.dev ~ $ <span id="typed"></span><span class="cursor">|</span>
			</p>
			<div id="navbar" class="top-0 w-full z-10 hidden fade-in">
				<Navbar />
			</div>
			<div id="content" class="hidden mx-auto mt-2 mb-5 ">
					<Card > 
						<p class="text-amber-200 p-1 leading-relaxed text-start font-bold mb-3 text-lg text-[clamp(0.75rem,2vw,1rem)]">
							I’m passionate about technology and the things I enjoy outside of it. I love exploring Linux(arch btw xd), experimenting with homelabs, and diving into computer networks. Outside of tech, I enjoy reading, watching movies and series, basketball, skateboarding, and gym.
						</p>
					
						<ul class="flex flex-col items-center space-y-1 text-gray-300 list-disc list-inside text-[clamp(0.75rem,2vw,1rem)]">
							<ul class="hover:scale-113 hover:text-amber-200 transition-transform">🎬 Favorite Movie: Knockin’ on Heaven’s Door</ul>
							<ul class="hover:scale-113 hover:text-amber-200 transition-transform">📚 Favorite Book: Hitchhiker's Guide to The Galaxy</ul>
							<ul class="hover:scale-113 hover:text-amber-200 transition-transform">🎵 Favorite Band: Radiohead</ul>
							<ul class="hover:scale-113 hover:text-amber-200 transition-transform">🎶 Favorite Song: Lover You Should've Come Over</ul>
						</ul>
                   
						<p class="text-amber-200 p-1 leading-relaxed text-center font-bold mb-1 text-lg mt-5 text-[clamp(0.75rem,2vw,1rem)]">
						Currently Reading
						</p>
						<ul id="reading-books" class="flex flex-wrap justify-center items-stretch gap-8 w-full max-w-5xl mx-auto"></ul>
					</Card>
			</div>
		</div>
	</Terminal>

	<script>
		import { typeWriter } from '../scripts/effects/Typewriter.ts';
        import { fetchCurrentlyReading } from '../scripts/fetchers/LiteralBookFetcher.ts';

		const typedEl = document.getElementById('typed');
		const contentEl = document.getElementById('content');
		const navbarEl = document.getElementById('navbar');

		if (typedEl && contentEl && navbarEl) {
			typeWriter(typedEl, "cd /interests", 10, () => {
				contentEl.classList.remove("hidden");
				contentEl.classList.add("fade-in");
				navbarEl.classList.remove("hidden");
				navbarEl.classList.add("fade-in");
                fetchCurrentlyReading();
			});
		}
	</script>
</Layout>
