---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Terminal from '../components/Terminal.astro';

---

<Layout title="Görkem Karyol">
	<Terminal>
		<div class="flex flex-col justify-start p-5 flex-1 overflow-y-scroll [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden">
			<p id="command" class="mb-4">
				GörkemKaryol@gorkemkaryol.dev ~ $ <span id="typed"></span><span class="cursor">|</span>
			</p>
			<div id="navbar" class="sticky top-0 w-full z-10 hidden fade-in">
				<Navbar />
			</div>
			<div id="content" class="hidden">
				<div class="border-2 border-yellow-400 rounded-3xl p-6 w-3/5 mx-auto my-4 
							bg-indigo-800 shadow-xl hover:shadow-2xl hover:-translate-y-1 
            				transition-all duration-300 -mt-24">
                    <p class="text-yellow-400 p-1 leading-relaxed text-start font-bold mb-3 text-lg">I’m passionate about technology and the things I enjoy outside of it. I love exploring Linux(arch btw xd), experimenting with homelabs, and diving into computer networks. Outside of tech, I enjoy reading, watching movies and series, staying active with basketball, skateboarding, and going to the gym, and listening to my favorite music.</p>
				</div>
				<div class="border-2 border-yellow-400 rounded-3xl p-6 w-3/5 mx-auto my-4 
							bg-indigo-800 shadow-xl hover:shadow-2xl hover:-translate-y-1 
            				transition-all duration-300">
					<p class="text-yellow-400 font-bold mb-3 text-lg">Favorite</p>
					<ul class="list-disc list-inside text-yellow-300 space-y-1">
						<li>🎬 Movie: Knockin’ on Heaven’s Door</li>
						<li>📚 Book: Hitchhiker's Guide to The Galaxy</li>
						<li>🎵 Band: Radiohead</li>
						<li>🎶 Song: Lover You Should've Come Over</li>
					</ul>
				</div>
				<div class="border-2 border-yellow-400 rounded-3xl p-6 w-3/5 mx-auto my-4 
							bg-indigo-800 shadow-xl hover:shadow-2xl hover:-translate-y-1 
            				transition-all duration-300">
					<p class="text-yellow-400 font-bold mb-3 text-lg">Right Now</p>
					<ul class="list-disc list-inside text-yellow-300 space-y-1">
						<li>🎬 Watching: Sopranos</li>
						<li>📚 Reading: Entrez Dans la Danse</li>
						
						
					</ul>
				</div>
		    </div>
		</div>
	</Terminal>

	<script>
		import { typeWriter } from '../scripts/effects/Typewriter.ts';

		const typedEl = document.getElementById('typed');
		const contentEl = document.getElementById('content');
		const navbarEl = document.getElementById('navbar');

		if (typedEl && contentEl && navbarEl) {
			typeWriter(typedEl, "cd /interests", 10, () => {
				contentEl.classList.remove("hidden");
				contentEl.classList.add("fade-in");
				navbarEl.classList.remove("hidden");
				navbarEl.classList.add("fade-in");
			});
		}
	</script>
</Layout>
