---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Terminal from '../components/Terminal.astro';
import Card from '../components/Card.astro';
import { fetchCurrentlyReading } from '../scripts/fetchers/LiteralBookFetcher.ts';
import type { LiteralReadingState } from "../types/Book.ts";
const readingBooks: LiteralReadingState[] = await fetchCurrentlyReading();

---

<Layout title="Görkem Karyol - Interests">
	<Terminal>
		<div class="flex flex-col justify-start p-5 flex-1 overflow-y-scroll [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden">
			<p id="command" class="mb-4">
				GörkemKaryol@gorkemkaryol.dev ~ $ <span id="typed"></span><span class="cursor">|</span>
			</p>
			<div id="navbar" class="sticky top-0 w-full z-10 hidden fade-in">
				<Navbar />
			</div>
			<div id="content" class="hidden mx-auto -mt-24 mb-5 ">
					<p class="font-bold text-center rounded-full p-2 bg-gray-700 w-1/8 mx-auto 
           					  shadow-[0_2px_5px_rgba(0,0,0,0.3)] text-indigo-400 text-xl">Interets</p>
					<Card > 
						<p class="text-indigo-400 p-1 leading-relaxed text-start font-bold mb-3 text-lg">
							I’m passionate about technology and the things I enjoy outside of it. I love exploring Linux(arch btw xd), experimenting with homelabs, and diving into computer networks. Outside of tech, I enjoy reading, watching movies and series, basketball, skateboarding, and gym.
						</p>
					</Card>
					<Card >
						<ul class="flex flex-col items-center space-y-1 text-gray-300 list-disc list-inside">
							<li class="hover:scale-113 hover:text-amber-200 transition-transform">🎬 Favorite Movie: Knockin’ on Heaven’s Door</li>
							<li class="hover:scale-113 hover:text-amber-200 transition-transform">📚 Favorite Book: Hitchhiker's Guide to The Galaxy</li>
							<li class="hover:scale-113 hover:text-amber-200 transition-transform">🎵 Favorite Band: Radiohead</li>
							<li class="hover:scale-113 hover:text-amber-200 transition-transform">🎶 Favorite Song: Lover You Should've Come Over</li>
						</ul>

						
						<p class="text-indigo-400 p-1 leading-relaxed text-start font-bold mb-3 text-lg mt-5">
						Currently Reading:
						</p>
						<ul class="flex flex-wrap justify-center gap-4">
							{readingBooks.length === 0 ? (
								<li class="text-indigo-400">📚 Not currently reading any book</li>
							) : (
								readingBooks.map((book) => (
								<li class="flex flex-col items-center">
									<img 
									src={book.book.cover} 
									class="flex flex-col items-center hover:scale-113 transition-transform w-50 max-w-50 text-left mb-4 mx-auto" 
									/>
								</li>
								))
							)}
						</ul>
					</Card>
			</div>
		</div>
	</Terminal>

	<script>
		import { typeWriter } from '../scripts/effects/Typewriter.ts';

		const typedEl = document.getElementById('typed');
		const contentEl = document.getElementById('content');
		const navbarEl = document.getElementById('navbar');

		if (typedEl && contentEl && navbarEl) {
			typeWriter(typedEl, "cd /interests", 10, () => {
				contentEl.classList.remove("hidden");
				contentEl.classList.add("fade-in");
				navbarEl.classList.remove("hidden");
				navbarEl.classList.add("fade-in");
			});
		}
	</script>
</Layout>
