---
type Route = {
  path: string,
  name: string
}

const routes: Route[] = [
  { path: '/', name: '/me' },
  { path: '/projects', name: '/projects' },
  { path: '/experience', name: '/experience' },
  { path: '/interests', name: '/interests' },
  { path: '/cool', name: '/cool' },
]
---
<nav class="flex justify-between items-center p-4 w-full">
  <ul 
   class="flex flex-row space-x-1 md:gap-5
   text-white text-xs sm:text-sm md:text-base text-[clamp(0.6rem, 2vw, 1rem)]"
   id="navbar-links">
    {routes.map(route => (
      <li class="whitespace-nowrap"><a href={route.path} class="hover:text-amber-200">{route.name}</a></li>
    ))}
  </ul>
</nav>

<script>
  const currentPath = window.location.pathname;

  document.querySelectorAll('#navbar-links li').forEach((li) => {
    const a = li.querySelector('a');
    if (a && a.getAttribute('href') === currentPath) {
      (li as HTMLElement).style.display = 'none';
    }
  });
</script>