---
type Route = {
  path: string,
  name: string
}

const routes: Route[] = [
  { path: '/', name: '/Me' },
  { path: '/projects', name: '/Projects' },
  { path: '/experience', name: '/Experience' },
  { path: '/interests', name: '/Interests' },
  { path: '/coolRoute', name: '/CoolRoute' },
  { path: '/underConstruction', name: '/UnderConstruction' },
]

const currentPath: string = Astro.url.pathname;
---
<nav class="flex justify-between items-center p-4">
    <ul class="space-x-6">
        {routes.map(route => route.path !== currentPath && (
          <li><a href={route.path}>{route.name}</a></li>  
        ))}
  </ul>
</nav>