---
type Route = {
  path: string,
  name: string
}

const routes: Route[] = [
  { path: '/', name: '/me' },
  { path: '/projects', name: '/projects' },
  { path: '/experience', name: '/experience' },
  { path: '/interests', name: '/interests' },
  { path: '/coolRoute', name: '/coolRoute' },
]
---
<nav class="flex justify-between items-center p-4">
  <ul class="space-x-6" id="navbar-links">
    {routes.map(route => (
      <li><a href={route.path}>{route.name}</a></li>
    ))}
  </ul>
</nav>

<script>
  const currentPath = window.location.pathname;

  document.querySelectorAll('#navbar-links li').forEach((li) => {
    const a = li.querySelector('a');
    if (a && a.getAttribute('href') === currentPath) {
      (li as HTMLElement).style.display = 'none';
    }
  });
</script>