---
type Route = {
  path: string,
  name: string
}

const routes: Route[] = [
  { path: '/', name: '/me' },
  { path: '/projects', name: '/projects' },
  { path: '/experience', name: '/experience' },
  { path: '/interests', name: '/interests' },
  { path: '/coolRoute', name: '/coolRoute' },
]

const currentPath: string = Astro.url.pathname;
---
<nav class="flex justify-between items-center p-4">
    <ul class="space-x-6">
        {routes.map(route => route.path !== currentPath && (
          <li><a href={route.path}>{route.name}</a></li>  
        ))}
  </ul>
</nav>