---
---
<nav class="flex justify-between items-center p-4">
    <ul class="space-x-6">
        <li><a href="/">/Me</a></li>
        <li><a href="/projects">/Projects</a></li>
        <li><a href="/experience">/Experience</a></li>
  </ul>
</nav>