---
import ProjectCard from "./ProjectCard.astro";
import type { Project } from "../types/Project.ts";

interface Props {
  projects: Project[];
}

const { projects } = Astro.props as Props;
---

<section
  class="grid justify-center gap-6 w-full p-4"
  style="grid-template-columns: repeat(auto-fit, 300px);"
>
  {projects.map((project) => (
    <ProjectCard project={project} />
  ))}
</section>
