---
import ProjectCard from "./ProjectCard.astro";
import type { Project } from "../types/Project.ts";
import { fetchGithubProject } from '../scripts/fetchers/GithubProjectFetcher.ts';

let projects: Project[] = [];
---

<div id="projects" class="grid justify-center gap-6 w-full p-4">
  {projects.map(p => <ProjectCard project={p} />)}
</div>

<script is:inline type="ts">
  async function loadProjects() {
    projects = await fetchGithubProject();
  }
  await loadProjects();
</script>
