--- 
interface Props {
    title?: string;
    children: any;
} 

import Button from './Button.astro';
---

<main class="bg-[oklch(27.8%_0.033_256.848)] rounded-xl w-[98vw] h-[96dvh] mx-auto my-[2.5dvh] 
              shadow-[0_4px_12px_rgba(0,0,0,0.5)] font-['Courier_New',_monospace] 
              flex flex-col overflow-hidden">
    <Button />     
    <div class="flex-1 p-4 overflow-y-auto">
    <slot />

</main>