--- 
interface Props {
    title?: string;
    children: any;
} 
---

<main class="bg-[oklch(27.8%_0.033_256.848)] rounded-xl w-[98vw] h-[96dvh] mx-auto my-[2.5dvh] 
              shadow-[0_4px_12px_rgba(0,0,0,0.5)] font-['Courier_New',_monospace] 
              flex flex-col overflow-hidden">
            
    <div class="bg-[#313131] flex gap-2 p-2 rounded-t-lg w-full box-border">
        <span class="w-3 h-3 rounded-full bg-red-500 cursor-pointer hover:scale-125 transition-transform"></span>
        <span class="w-3 h-3 rounded-full bg-yellow-400 cursor-pointer hover:scale-125 transition-transform"></span>
        <span class="w-3 h-3 rounded-full bg-green-500 cursor-pointer hover:scale-125 transition-transform"></span>
    </div>
        
    <div class="flex-1 p-4 overflow-y-auto">
    <slot />

</main>