---
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const { title, description="My portfolio site" } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/akira-patch-seeklogo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-sans bg-indigo-900 text-white min-h-screen">
		<slot />
	</body>
</html>

